version: '3.8'

services:
  user-service:
    build: .
    container_name: user-service
    ports:
      - '3004:3004'
    depends_on:
      - user-postgres
    env_file:
      - .env
    networks:
      - backend

  user-postgres:
    image: postgres:15
    container_name: user-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: club_management_user
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5434:5432'
    networks:
      - backend

networks:
  backend:

volumes:
  pgdata: